out/*

bl_mcu_sdk_bl808/out/*
bl_mcu_sdk_bl808/build/*
.vscode/settings.json
.settings
*.pyc

**/.cdk
**/__workspace_pack__
**/Lst
**/Obj

bl_mcu_sdk_bl808/examples/*.txt
bl_mcu_sdk_bl808/examples/**/*.mk
bl_mcu_sdk_bl808/examples/**/*.cdkws
bl_mcu_sdk_bl808/examples/**/*.tags
bl_mcu_sdk_bl808/examples/**/*.bin
bl_mcu_sdk_bl808/examples/**/*.mk
bl_mcu_sdk_bl808/examples/**/*.bat
bl_mcu_sdk_bl808/examples/**/cdk/*.txt

bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/eflash_loader/eflash_loader_cfg.ini
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/efuse_bootheader/flash_para.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/bootinfo.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/bootheader.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/bootheader_cfg.ini
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/efusedata.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/efusedata_mask.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/img_create_cfg.ini
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/img.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/whole_img.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/chips/bl702/img_create_mcu/whole_img.pack
bl_mcu_sdk_bl808/tools/bflb_flash_tool/img/project.bin
bl_mcu_sdk_bl808/tools/bflb_flash_tool/log/*
